.food-input {
  margin: 5px 50px;
}
#test {
  margin: 50px;
  float: left;
}
.list-food {
  margin: 50px;
}
td {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  color: rgb(10, 8, 6);
  border: 1px solid #cccccc;
}
td a {
  text-decoration: none;
}

[id$="messages"] {
  text-align: center;
  color: red;
}
.food-input--id {
  pointer-events: none;
}
.hidden {
  display: none !important;
}
.show {
  display: block !important;
}
